<div class="login-page">
  <div class="login-container">
    <h1 class="main-title">Registro de Estudiantes</h1>

    <div class="card p-4 shadow login-card">
      <h3 class="text-center mb-3">Iniciar Sesión</h3>

      <form [formGroup]="form" (ngSubmit)="login()">

        <label>Email</label>
        <input type="email" class="form-control" formControlName="email">

        <label class="mt-3">Contraseña</label>
        <input type="password" class="form-control" formControlName="password">

        <button class="btn btn-primary w-100 mt-3">Ingresar</button>

        <p class="text-danger mt-2 text-center" *ngIf="errorMsg">{{ errorMsg }}</p>

      </form>

      <p class="mt-3 text-center">
        ¿No tienes cuenta?
        <a routerLink="/auth/register">Registrarse</a>
      </p>

    </div>
  </div>
</div>