.login-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;
}

.login-card {
  width: 350px;
  padding: 25px;
  background: white;
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0,0,0,0.2);
}

input {
  width: 100%;
  margin-bottom: 10px;
  padding: 8px;
}

button {
  width: 100%;
  background: #007bff;
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
  margin-top: 10px;
}

.error {
  margin-top: 10px;
  color: red;
  font-size: 14px;
}
