<div class="container mt-4">

  <h2 class="mb-3">Estudiantes</h2>

  <div class="d-flex mb-3">
    <input [(ngModel)]="filtro" type="text" placeholder="Buscar..." 
           class="form-control me-2" style="max-width: 300px;">

    <button routerLink="/estudiantes/nuevo" class="btn btn-primary">
      Nuevo
    </button>
  </div>

  <table class="table table-striped">
    <thead>
      <tr>
        <th>Nombre</th>
        <th>Apellido</th>
        <th>Edad</th>
        <th>ID Curso</th>
        <th>Acciones</th>
      </tr>
    </thead>

    <tbody>

      <!-- Si no encuentra datos -->
      <tr *ngIf="filtrar().length === 0">
        <td colspan="5" class="text-center text-muted py-3">
          No se encontraron resultados.
        </td>
      </tr>

      <!-- Filas con directiva y pipes -->
      <tr *ngFor="let e of filtrar()"
          appResaltar
          color="lightyellow">

        <td>{{ e.nombre | capitalizar }}</td>
        <td>{{ e.apellido | capitalizar }}</td>
        <td>{{ e.edad }}</td>
        <td>{{ e.cursoId }}</td>

        <td>
          <button class="btn btn-warning btn-sm me-2"
                  (click)="editar(e.id!)">
            Editar
          </button>

          <button class="btn btn-danger btn-sm"
                  (click)="eliminar(e.id!)">
            Eliminar
          </button>
        </td>
      </tr>

    </tbody>
  </table>
</div>
